.text-center {
  text-align: center; }

.my-header {
  padding: 20px 0 20px 0;
  background-color: #2196f3;
  color: #fff;
  text-align: center; }

span.title {
  font-size: 55px; }

nav {
  border-top: 2px solid #1791f2;
  background-color: #51adf6; }
  nav ul {
    background-color: red;
    display: block; }
    nav ul li {
      list-style: none;
      float: left;
      width: 50%; }
      nav ul li a {
        text-align: center;
        display: block;
        color: #fff;
        font-size: 20px;
        padding: 15px 35px 15px 35px; }
      nav ul li a:link,
      nav ul li a:visited {
        color: #fff; }
      nav ul li a:hover {
        text-decoration: none;
        padding: 15px 34px 14px 34px;
        background-color: #39a1f4;
        transition: background-color 0.5s; }
    nav ul li:last-child {
      clear: both; }

#elo {
  font-size: 20vw;
  text-transform: uppercase; }

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center; }

footer {
  text-align: center;
  color: #fff;
  border-bottom: 2px solid #1791f2;
  background-color: #51adf6; }

main.zadania {
  margin-top: 15px; }
  main.zadania table tbody td {
    font-size: 25px; }
  main.zadania ul.data {
    list-style-type: none; }
    main.zadania ul.data li {
      margin: 10px 10px 10px 10px;
      width: 190px;
      height: 190px;
      float: left;
      background-color: #2196f3;
      border: 5px solid #39a1f4; }
      main.zadania ul.data li a {
        display: block;
        height: 100%;
        text-align: center;
        padding: 65px 0 0 0;
        font-size: 30px; }
      main.zadania ul.data li a:link,
      main.zadania ul.data li a:visited {
        text-decoration: none;
        color: #fff; }
    main.zadania ul.data li:hover {
      position: static;
      transition: transform .75s ease-in-out;
      transform: scale(1.1); }
