$skyblue: #2196f3;

.text-center
{
    text-align: center;
}
.my-header
{
    padding: 20px 0 20px 0; 
    background-color: $skyblue;
    color: #fff;
    text-align: center;
}
span.title
{
    font-size: 55px;
}
nav
{
    border-top: 2px solid darken($skyblue, 2%);
    background-color: lighten($skyblue, 10%);
    ul
    {
        background-color: red;
        display: block;
        
        li 
        {
            list-style: none;
            //background-color: brown;
            //margin: 0 10px 0 10px;
            float: left;
            width: 50%;
            a 
            {
                text-align: center;
                //background-color: darkgoldenrod;
                display: block;
                color: #fff;
                font-size: 20px;
                padding: 15px 35px 15px 35px;
                
            }
            a:link,
            a:visited,
            {
                color: #fff;
            }
            a:hover
            {
                
                text-decoration: none;
                padding: 15px 34px 14px 34px;
                background-color: lighten($skyblue, 5%);
                //border: 1px solid lighten($skyblue, 2%);
                transition: background-color 0.5s; 
                
            }
        }
        li:last-child
        {
            clear: both;
        }
    }
}
#elo
{
    font-size: 20vw;
    text-transform: uppercase;
}
.flex-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
footer {
    text-align: center;
    color: #fff;
    border-bottom: 2px solid darken($skyblue, 2%);
    background-color: lighten($skyblue, 10%);
}
main.zadania
{
    margin-top: 15px;
    
    table
    {
        tbody
        {
            td
            {
                font-size: 25px;
            }
        }
    }
    ul.data
    {
        list-style-type: none;
        li 
        {
            margin: 10px 10px 10px 10px;
            width: 190px;
            height: 190px;
            float: left;
            background-color: lighten($skyblue, 0%);
            border: 5px solid lighten($skyblue, 5%);
            a 
            {
                display: block;
                height: 100%;
                text-align: center;
                padding: 65px 0 0 0;
                font-size: 30px;
            }
            a:link,
            a:visited
            {
                text-decoration: none;
                color: #fff;
            }
        }
        li:hover
        {
            position: static;
            transition: transform .75s ease-in-out;
            transform: scale(1.1);
        }
    }
}
